html
  head
    title= title
    style
      include ../src/style.css
    link(rel='stylesheet' href='https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css')
  body
    nav(class='navbar navbar-expand-md navbar-dark bg-dark')
      a(class='navbar-brand' href='http://192.168.1.176:5000') Camwerkz
      div(class='collapse navbar-collapse' id='navbarsExampleDefault')
        ul(class='navbar-nav mr-auto')
          li(class='nav-item')
            a(class='nav-link active' href='http://192.168.1.176:5000/get-qb-credentials') Get QB Credentials
          li(class='nav-item')
            a(class='nav-link' href='http://192.168.1.176:5000/customers') Customers
    main(role='main' class='container mt-3')
      div(class='starter-template')
        a(href='https://evening-oasis-90021.herokuapp.com/' target='_blank') Get QB access token and refresh token
      hr
      form(action='/update-qb-credentials' method='POST')
        div(class='form-group')
          label(for='access_token') access_token
          input(type='text' class='form-control' id='access_token' name='access_token')
        div(class='form-group')
          label(for='refresh_token') refresh_token
          input(type='text' class='form-control' id='refresh_token' name='refresh_token')
        div(class='form-group')
          label(for='token_type') token_type
          input(type='text' class='form-control' id='token_type' name='token_type')
        div(class='form-group')
          label(for='expires_in') expires_in
          input(type='text' class='form-control' id='expires_in' name='expires_in')
        div(class='form-group')
          label(for='x_refresh_token_expires_in') x_refresh_token_expires_in
          input(type='text' class='form-control' id='x_refresh_token_expires_in' name='x_refresh_token_expires_in')
        button(type='submit' class='btn btn-primary') Update QB Credentials

    script
      include ../src/jquery.js
      include ../src/popper.js
      include ../src/bootstrap.js